@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.ttf');
}

html{
    font-family: 'Poppins';
    font-size: 14px;
    height: 100vh;
}

body{
    height: 100%;
}

#root{
    background-image: url('../assets/images/background.jpg');
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

button, input{
    outline: none;
    border: none;
}