@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.ttf');
}

html {
    font-family: 'Poppins';
    font-size: 14px;
    height: 100vh;
}

body {
    height: 100%;
    background: rgb(80, 96, 164);
    background: linear-gradient(
        167deg,
        rgba(80, 96, 164, 1) 0%,
        rgba(115, 190, 205, 1) 100%
    );
}

#root {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

button,
input {
    outline: none;
    border: none;
}
