.container {
  width: 100%;
  height: 100%;
}

.container .contain {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5em;
  margin: 2rem;
}

.container .contain .search {
  background-color: transparent;
  border-radius: 0.3rem;
  transition: background-color .3s ease-in-out, width 5s ease;
  width: 100%;
  height: min-content;
  display: flex;
  position: relative;
  z-index: 2;
  transition: all .5 ease;
}

.container .contain .search input {
  border: none;
  outline: none;
  font-size: 1.5rem;
  width: 0%;
  transition: width .3s ease;
  background-color: transparent;
}

.container .contain .search button {
  display: none;
}

.container .contain .search span {
  background-color: #d6d6d6;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
}

.container .contain .search.open {
  background-color: white;
  padding: 2rem;
  display: flex;
}

.container .contain .search.open input {
  width: 100%;
  display: inline-block;
  font-size: 1.3rem;
}

@media (max-width: 400px) {
  .container .contain .search.open input {
    font-size: 1.1rem;
  }
}

@media (max-width: 320px) {
  .container .contain .search.open input {
    font-size: .8rem;
  }
}

.container .contain .search .iconSearch {
  padding: 1rem;
}

.container .contain .search .matchesList {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  width: 100%;
  transform: translateY(102%);
  border-radius: .3rem;
  max-height: 50vh;
  overflow-y: auto;
}

.container .contain .search .matchesList .matchesItem {
  padding: 2rem;
  border-bottom: 1px solid #dddddd;
}

.container .contain .search .matchesList .matchesItem:hover {
  background: #cecece;
}

.container .information {
  width: max-content;
  margin: 0 auto;
  max-width: 90%;
}

.container .information .informationContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container .information .informationContent > div {
  margin: 0 auto;
}

.container .information .informationContent .infoLocation {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 618px) {
  .container .information .informationContent .infoLocation {
    font-size: 2rem;
  }
}

.container .information .informationContent .infoLocation .nameLocation {
  width: 100%;
  font-size: 3rem;
}

@media (max-width: 618px) {
  .container .information .informationContent .infoLocation {
    font-size: 1rem;
  }
}

.container .information .informationContent .infoTemperature {
  color: white;
  font-size: 15em;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 618px) {
  .container .information .informationContent .infoTemperature {
    font-size: 10em;
  }
}

@media (max-width: 425px) {
  .container .information .informationContent .infoTemperature {
    font-size: 8rem;
  }
}

.container .information .informationContent .infoTemperature .value {
  display: flex;
  width: max-content;
  font-size: .9em;
  align-self: center;
}

@media (max-width: 618px) {
  .container .information .informationContent .infoTemperature .value {
    font-size: .8em;
  }
}

.container .information .informationContent .infoTemperature .value .tempSymbol {
  display: block;
  font-size: 50%;
  align-self: flex-start;
  justify-self: flex-start;
  margin-top: 1rem;
}

.container .information .informationContent .infoTemperature .description {
  font-size: .9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem .5rem;
  background-color: rgba(41, 53, 80, 0.5);
  border-radius: 100px;
  width: max-content;
  margin: 0 auto;
}

.container .information .informationContent .infoTemperature .description span {
  margin-left: 1rem;
}

.container .information .informationContent .infoTemperature .description img {
  border-radius: .3rem;
  width: 50px;
  object-fit: contain;
}

.container .information .informationContent .infoExtras {
  width: 100%;
}

.container .information .informationContent .infoExtras ul {
  padding-left: 0;
  list-style: none;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.container .information .informationContent .infoExtras ul .extraItem {
  background-color: rgba(255, 255, 255, 0.473);
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  font-size: 1rem;
  color: #61648d;
}

.container .information .informationContent .infoExtras ul .extraItem .extraItemTitle {
  font-weight: bolder;
  letter-spacing: 1px;
  color: #4c4e66;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #b4b4b4;
}

.container .information .informationContent .infoExtras ul .extraItem .extraItemValue {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
