.container {
  width: 100%;
  height: 100%;
}

.container .contain {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
}

.container .contain .search {
  background-color: transparent;
  border-radius: 0.3rem;
  transition: background-color .3s ease-in-out, width 5s ease;
  width: 100%;
  height: min-content;
  display: flex;
  padding: 2rem;
}

.container .contain .search input {
  border: none;
  outline: none;
  font-size: 1.5rem;
  width: 0%;
  transition: width .3s ease;
  background-color: transparent;
}

.container .contain .search button {
  display: none;
}

.container .contain .search span {
  background-color: #d6d6d6;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
}

.container .contain .search.open {
  background-color: white;
  padding: 2rem;
  display: flex;
}

.container .contain .search.open input {
  width: 100%;
  display: inline-block;
  font-size: 1.3rem;
}

@media (max-width: 400px) {
  .container .contain .search.open input {
    font-size: 1.1rem;
  }
}

@media (max-width: 320px) {
  .container .contain .search.open input {
    font-size: .8rem;
  }
}

.container .contain .search .iconSearch {
  padding: 1rem;
}

.container .information {
  width: max-content;
  margin: 0 auto;
  max-width: 90%;
}

.container .information .informationContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container .information .informationContent > div {
  margin: 0 auto;
}

.container .information .informationContent .infoLocation {
  color: white;
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 618px) {
  .container .information .informationContent .infoLocation {
    font-size: 2rem;
  }
}

.container .information .informationContent .infoLocation .regionLocation {
  font-size: 3rem;
}

@media (max-width: 618px) {
  .container .information .informationContent .infoLocation .regionLocation {
    font-size: 2rem;
  }
}

.container .information .informationContent .infoLocation .countryLocation {
  font-size: 4rem;
}

@media (max-width: 618px) {
  .container .information .informationContent .infoLocation .countryLocation {
    font-size: 2rem;
  }
}

.container .information .informationContent .infoTemperature {
  color: white;
  font-size: 15em;
  position: relative;
  max-width: 80%;
}

@media (max-width: 618px) {
  .container .information .informationContent .infoTemperature {
    font-size: 10em;
  }
}

@media (max-width: 425px) {
  .container .information .informationContent .infoTemperature {
    font-size: 8rem;
  }
}

.container .information .informationContent .infoTemperature .value {
  display: flex;
  width: max-content;
}

.container .information .informationContent .infoTemperature .value .tempSymbol {
  display: block;
  font-size: 50%;
  align-self: flex-start;
  justify-self: flex-start;
  margin-top: 1rem;
}

.container .information .informationContent .infoTemperature .description {
  font-size: 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

@media (min-width: 425px) {
  .container .information .informationContent .infoTemperature .description {
    background-color: rgba(240, 240, 240, 0.4);
    border-radius: .3rem;
    padding: 1rem 2rem;
    width: max-content;
    font-size: 1.3rem;
    margin: 0 auto;
    gap: 1rem;
  }
}

.container .information .informationContent .infoTemperature .description img {
  border-radius: .3rem;
}

.container .information .informationContent .infoExtras {
  width: 100%;
}

.container .information .informationContent .infoExtras ul {
  padding-left: 0;
  list-style: none;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.container .information .informationContent .infoExtras ul .extraItem {
  background-color: rgba(255, 255, 255, 0.473);
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  font-size: 1rem;
  color: #61648d;
}

.container .information .informationContent .infoExtras ul .extraItem .extraItemTitle {
  font-weight: bolder;
  letter-spacing: 1px;
  color: #4c4e66;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #b4b4b4;
}

.container .information .informationContent .infoExtras ul .extraItem .extraItemValue {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
